streamlit
google-generativeai
python-dotenv
langchain
langchain-classic
langchain-core
langchain_google_genai
langchain-community
langchain-text-splitters


chromadb==0.3.26

pydantic
faiss-cpu
PyPDF2
python>=3.11